#ecrat{
  display: flex;
}

.titre{
  position: absolute;
  right: 30%;
top: 85px;
}

.ajouter {
  position: absolute;
right: 5%;
top: 120px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
}


.s{
  top: 90%;
  left: 50%;
}

.m{
  top: 90%;
  left: 60%;
}

#ecrat p {
  font-size: 20px;
}
.ajouter:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
table {
  margin: 50px;
  margin-top: 100px;
  width: 100%;
  height: 50vh;

}
table , td, th {
	border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #2d3672;
  color: white;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

.sousHead {
  background-color: #6578f5;
}